USE [SalesDataDW]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 9/2/2016 2:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[AddressLine1] [nvarchar](100) NULL,
	[AddressLine2] [nvarchar](100) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nchar](2) NULL,
	[ZipPostal] [nvarchar](20) NULL,
	[Country] [nchar](3) NULL,
	[Phone] [nvarchar](30) NULL,
	[Email] [nvarchar](100) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [AddressLine1], [AddressLine2], [City], [State], [ZipPostal], [Country], [Phone], [Email]) VALUES (1, N'Stefanie', N'Buckley', N'36 West Fabien St.', NULL, N'St. Louis', N'UT', N'86036', N'TUN', N'404-9904812', N'ttss42@gmrzga.org')
INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [AddressLine1], [AddressLine2], [City], [State], [ZipPostal], [Country], [Phone], [Email]) VALUES (2, N'Sandy', N'Mc Gee', N'935 Nobel Way', N'89 Green Nobel Freeway', N'Fort Worth', N'NH', N'98849', N'CHE', N'6590516203', N'edhr.ynwidw@gdfifbqe.vjdpsp.org')
INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [AddressLine1], [AddressLine2], [City], [State], [ZipPostal], [Country], [Phone], [Email]) VALUES (3, N'Lee', N'Warren', N'91 Hague Parkway', NULL, N'Denver', N'WI', N'18483', N'GRC', N'892458-2226', N'ofxnfq077@bboygn.net')
GO
SET IDENTITY_INSERT [dbo].[Customer] OFF
