USE [SalesDataDW]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 9/2/2016 2:24:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[Cost] [money] NULL,
	[Price] [money] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Cost], [Price]) VALUES (1, N'Inquestamazz', N'Multum gravum et bono quorum glavans e funem.  Quad rarendum habitatio quoque plorum fecundio, et no', 25.8969, 453.7065)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Cost], [Price]) VALUES (2, N'Doperover', N'Tam quo, et bono quorum glavans e gravis et bono quorum glavans e funem.  Quad rarendum habitatio qu', 15.9432, 273.4153)
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Cost], [Price]) VALUES (3, N'Barnipax', N'Quad rarendum habitatio quoque plorum fecundio, et plurissimum parte brevens, non quo plorum in dolo', 63.3404, 205.2223)
GO
SET IDENTITY_INSERT [dbo].[Product] OFF
